<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <div style="padding-bottom: 10px">Chào bạn</div>
    <div style="padding-bottom: 10px">
      <div>
        Cảm ơn bạn đã đăng ký xét tuyển vào Trường Đại học Văn Lang theo phương
        thức xét kết quả học tập THPT (học bạ).
      </div>
      <div>
        <b>Đợt [Phase]</b> đăng ký xét tuyển theo phương thức xét kết quả học
        tập THPT (học bạ) vào Trường đã kết thúc. Trước ngày 21/7/2022, Nhà
        trường công bố mức điểm chuẩn tuyển sinh các ngành đào tạo trên website
        và fanpage Trường Đại học Văn Lang <a href="https://tuyensinh.vanlanguni.edu.vn/" target="_blank">https://tuyensinh.vanlanguni.edu.vn/</a>.
        Trường Đại học Văn Lang đồng thời gửi Thư báo kết quả xét tuyển sinh đến
        thí sinh đủ điều kiện trúng tuyển trong tháng [Month].
      </div>
      <div style="padding-top: 10px;">
        Chúc bạn đạt kết quả như ý và gia nhập thế hệ sinh viên Khóa 28 của Văn
        Lang!
      </div>
    <div
      style="color: red; font-size: 12px; font-weight: bold; padding-top: 20px"
    >
      Phòng Tuyển sinh và Truyền thông
    </div>
    <div
      style="color: red; font-size: 12px; font-weight: bold; padding-top: 20px"
    >
    Trường Đại học Văn Lang
    </div>
    <div style="padding-top: 10px">----------------------------------------------------</div>
    <div style="padding: 10px 0">Nếu cần tư vấn thông tin tuyển sinh, thí sinh có thể liên hệ Trường Đại học Văn Lang theo một trong các kênh thông tin dưới đây:</div>
    <div style="font-size: 12px">
        <div><b>Hotline</b>: (028) 7105 9999</div>
        <div><b>Email</b>: <a href="mailto:tuyensinh@vanlanguni.edu.vn" target="_blank">tuyensinh@vanlanguni.edu.vn</a></div>
        <div><b>Fanpage</b>: <a href="https://www.facebook.com/truongdaihocvanlang/?epa=SEARCH_BOX" target="_blank">Trường Đại học Văn Lang</a></div>
        <div><b>Group</b>: <a href="https://www.facebook.com/groups/560550241340478/" target="_blank">Group Cộng đồng Sinh viên Văn Lang</a></div>
        <div><b>Zalo</b>: 0904.214.254 (Trường Đại học Văn Lang)</div>
        <div><b>Instagram</b>: <a href="https://www.instagram.com/vanlanguniversity/" target="_blank">Van Lang University</a></div>
        <div><b>Youtube</b>: <a href="https://www.youtube.com/channel/UC4mPXThfifysS8Po9va7dXA" target="_blank">Trường Đại học Văn Lang</a></div>
    </div>
  </body>
</html>
