<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <div style="padding-bottom: 10px">
      Chào bạn
      <span style="text-transform: uppercase">[FullName]</span>
    </div>
    <div style="padding-bottom: 10px">
      <div style="font-weight: bold">
        Cảm ơn bạn đã đăng ký xét tuyển vào Trường Đại học Văn Lang năm 2022. Mã
        hồ sơ của bạn là
        <span style="font-size: 18px; color: red; font-weight: bold"
          >[AdmissionCode]</span
        >
      </div>
      <div>
        Kết quả tuyển sinh sẽ được Trường Đại học Văn Lang công bố và thông báo
        cho bạn sau khi kết thúc đợt nhận hồ sơ (dự kiến trong tháng [Month]).
      </div>
      <div>
        *** Nếu đăng ký xét tuyển online và chưa nộp học bạ, bạn vui lòng nộp bổ
        sung: (1) Học bạ (bản photocopy có chứng thực); (2) CMND/CCCD; (3) Giấy
        tờ liên quan khác nếu có ( như: Chứng chỉ Ngoại ngữ, Chứng nhận ưu tiên
        theo khu vực, đối tượng…).
      </div>
      <div>
        Hạn chót nộp bổ sung các giấy tờ trên: trước ngày [ExpiredDate].
      </div>
      <div>Có 03 cách để bạn nộp bổ sung các minh chứng xét tuyển:</div>
    </div>
    <div style="font-size: 16px; color: #30318d">
      <div>
        Cách 1: Nộp tại Văn phòng Tuyển sinh tại 01 trong 02 Cơ sở của Trường:
      </div>
      <div>
        - Cơ sở chính: 69/68 Đặng Thùy Trâm, P. 13, Q.Bình Thạnh, Tp. Hồ Chí
        Minh;
      </div>
      <div>
        - Cơ sở 1: 45 Nguyễn Khắc Nhu, P. Cô Giang, Quận 1, Tp. Hồ Chí Minh;
      </div>
      <div style="padding-top: 5px">
        Cách 2: Gửi bưu điện về địa chỉ: Phòng Tuyển sinh và Truyền thông Trường
        Đại học Văn Lang - Trụ sở 45 Nguyễn Khắc Nhu, P. Cô Giang. Q.1, Tp.HCM.
        Trên bìa học bạ, bạn cần ghi thêm 03 thông tin này: (1) Mã hồ sơ xét
        tuyển; (2) Số CMND/CCCD; (3) Số điện thoại (của thí sinh hoặc phụ
        huynh).
      </div>
      <div style="padding-top: 5px">
        Cách 3: Nộp trên trang đăng ký trực tuyến (online): Bạn truy cập vào
        trang đăng ký trực tuyến (<a
          href="http://localhost:3000/hocba"
          target="_blank"
          >https://xettuyenonline.vanlanguni.edu.vn/</a
        >), chọn mục Hồ sơ của tôi/ Nhập CMND/CCCD/chọn UPLOAD HỌC BẠ và làm
        theo hướng dẫn.
      </div>
    </div>
    <div
      style="color: blue; font-size: 17px; font-weight: bold; padding: 20px 0"
    >
      ĐIỀU CHỈNH THÔNG TIN XÉT TUYỂN
    </div>
    <div style="padding-bottom: 10px">
      <div>
        Sau khi hoàn thành hồ sơ đăng ký, bạn vẫn có thể điều chỉnh thông tin
        xét tuyển trong 03 ngày,
        <span style="font-weight: bold"
          >từ ngày [FromDate] đến hết ngày [ToDate]</span
        >
      </div>
      <div>Cách thức điều chỉnh thông tin trên trang đăng ký online:</div>
    </div>
    <div>
      <div>
        Điều chỉnh trên trang online (<a
          href="http://localhost:3000/hocba"
          target="_blank"
          >https://xettuyenonline.vanlanguni.edu.vn/</a
        >) chọn mục Hồ sơ của tôi/Nhập CMND/CCCD/chọn “ĐIỀU CHỈNH HỒ SƠ” và làm
        theo hướng dẫn.
      </div>
      <div>
        Bạn nhớ thường xuyên theo dõi
        <a href="https://tuyensinh.vanlanguni.edu.vn/" target="_blank"
          >website</a
        >, fanpage Trường Đại học Văn Lang để cập nhật thông tin mới nhé!.
      </div>
    </div>
    <div style="color: red; font-weight: bold; padding: 20px 0">
      Chúc bạn đạt kết quả như ý và gia nhập thế hệ sinh viên khóa 28 của Văn
      Lang!
    </div>
    <div>----------------------------------------------------</div>
    <div
      style="color: red; font-size: 12px; font-weight: bold; padding: 20px 0"
    >
      Phòng Tuyển sinh và Truyền thông
    </div>
    <div style="display: flex; font-size: 12px">
      <div>
        <div><i>Hotline</i>: (028) 7105 9999</div>
        <div><i>Fanpage</i>: Trường Đại học Văn Lang</div>
      </div>
      <div style="padding-left: 5px;">
        <div>
          | Email:
          <a href="mailto:tuyensinh@vanlanguni.edu.vn" target="_blank"
            >tuyensinh@vanlanguni.edu.vn</a
          >
        </div>
        <div>| <i>Zalo</i>: 0904214254 (Trường Đại học Văn Lang)</div>
      </div>
    </div>
  </body>
</html>
